/* Google Font: Font Name> Work sans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

/* shared styles  */

* {
  font-family: "Work Sans", sans-serif;
  /* margin: 0px;
    padding: 0px; */
}

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: white;
  font-size: 1.25rem;
  padding: 20px 25px;
  border: none;
  cursor: pointer;
}

/* Header Style css */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* Banner style css */
.banner {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.banner-description {
  color: #727272;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.banner-img {
  margin-top: 20px;
}
.banner-img img {
  width: 100%;
}

/* main section  */
main {
  max-width: 1440px;
  margin: 70px auto;
}
/* team section style css */
.team-container {
  display: flex;
  align-items: center;
}
.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-content {
  padding-left: 70px;
}
.team-title {
  font-size: 45px;
  font-weight: 700;
}
.quick {
  color: #727272;
  font-style: normal;
  font-weight: 500;
}
.fea {
  color: #ff900e;
  line-height: normal;
}
.team-description {
  color: #727272;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding-right: 100px;
}

/* responsive media queris */
/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 0 20px;
  }
  nav,
  .team-container {
    flex-direction: column;
  }
  .banner-title {
    font-size: 25px;
  }
  .nav-title {
    font-size: 2.3rem;
  }
  .btn-primary {
    font-size: 1rem;
  }
  .team-img {
    grid-template-columns: 1fr;
  }
  .team-content {
    padding-left: 20px;
    text-align: center;
  }
  .team-title {
    font-size: 28px;
  }
  .team-description {
    padding: 0;
  }
}

/* tablet devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 30px;
  }
  .team-container {
    flex-direction: column;
  }
  .banner-title {
    font-size: 2.5rem;
  }
  .team-content {
    padding-left: 20px;
    text-align: center;
  }
  .team-description{
    padding: 0 60px;
  }
}
